{% extends 'layout.njk' %}

{% block head %}
    <title>Foodfy | Sobre</title>
{% endblock %}

{% block content %}
    <section>
        <div class="text">
            <h1>Sobre o Foodfy</h1>
            <div class="paragraph">
                <p>Lobortis scelerisque fermentum dui faucibus. Donec
                    adipiscing tristique risus nec. Enim eu turpis egestas
                    pretium aenean pharetra. At elementum eu facilisis sed odio
                    morbi quis commodo. Turpis egestas maecenas pharetra
                    convallis posuere morbi. Suspendisse faucibus interdum
                    posuere lorem ipsum. Sit amet nulla facilisi morbi. Quam
                    elementum pulvinar etiam non quam lacus.
                </p>
                <p>Vitae justo eget magna fermentum iaculis eu non diam. Etiam erat
                    velit scelerisque in dictum non. Vel orci porta non pulvinar neque
                    laoreet suspendisse interdum. Ornare massa eget egestas purus. Amet
                    commodo nulla facilisi nullam vehicula ipsum. Nunc sed augue lacus
                    viverra vitae congue. Id semper risus in hendrerit gravida rutrum
                    quisque. Massa sapien faucibus et molestie ac.
                </p>
            </div>
            
            <h2>Como tudo começou...</h2>
            <div class="paragraph">
                <p>Lobortis scelerisque fermentum dui faucibus. Donec
                    adipiscing tristique risus nec. Enim eu turpis egestas
                    pretium aenean pharetra. At elementum eu facilisis sed odio
                    morbi quis commodo. Turpis egestas maecenas pharetra
                    convallis posuere morbi. Suspendisse faucibus interdum
                    posuere lorem ipsum. Sit amet nulla facilisi morbi. Quam
                    elementum pulvinar etiam non quam lacus.
                </p>
                <p>Vitae justo eget magna fermentum iaculis eu non diam. Etiam erat
                    velit scelerisque in dictum non. Vel orci porta non pulvinar neque
                    laoreet suspendisse interdum. Ornare massa eget egestas purus. Amet
                    commodo nulla facilisi nullam vehicula ipsum. Nunc sed augue lacus
                    viverra vitae congue. Id semper risus in hendrerit gravida rutrum
                    quisque. Massa sapien faucibus et molestie ac.
                </p>
            </div>
            
            <h2>Nossas receitas</h2>
            <div class="paragraph">
                <p>Vitae justo eget magna fermentum iaculis eu non diam. Etiam erat
                    velit scelerisque in dictum non. Vel orci porta non pulvinar neque
                    laoreet suspendisse interdum. Ornare massa eget egestas purus. Amet
                    commodo nulla facilisi nullam vehicula ipsum. Nunc sed augue lacus
                    viverra vitae congue. Id semper risus in hendrerit gravida rutrum
                    quisque. Massa sapien faucibus et molestie ac.
                </p>
            </div>            
        </div>    
    </section>

{% endblock %}